mixin head(data)
  link(href="//google-analytics.com", rel="dns-prefetch")
  link(href="//fonts.gstatic.com/", rel="preconnect", crossorigin)
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(name="description", content=data.head.description)
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="robots", content="index,follow")
  meta(name="google-site-verification" content=data.head.googleSiteVerification)
  meta(name="theme-color", content=data.head.themeColor)
  meta(name="msapplication-navbutton-color", content=data.head.navbuttonColor)
  meta(name="apple-mobile-web-app-status-bar-style" content=data.head.appleMobileWebAppStatusBarStyle)
  meta(name="format-detection", content="telephone=no")
  title=data.head.title
  link(href="/assets/manifest.json",rel="manifest")
  link(type="image/x-icon" href="/favicon.ico" rel="icon")